/** TODO use LESS for CSS variables */

body {
    font-family: sans-serif;
}

#sudokuBoard,
#inputPanel {
    width: 60vmin;
    min-width: 320px;
}

#sudokuBoard {
    height: 60vmin;
    min-height: 320px;
    margin-bottom: 12px;
}

.sudokuBoard,
.inputPanel {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;

    width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
}

.sudokuBoard {
    border: solid 2px black;
}

.row {
    display: table-row;
}

.sudokuBoard .row:nth-child(3n) {
    border-bottom: solid 2px black;
}

.sudokuBoard .square,
.inputPanel .input-outer {
    display: table-cell;
    margin: 2px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.sudokuBoard .square {
    font-weight: lighter;
    border: solid 1px black;
}

.sudokuBoard .square.given {
    font-weight: bolder;
}

.sudokuBoard .square.invalid {
    border: solid 2px red;
}

.sudokuBoard .square.selected,
.inputPanel .input:active {
    background-color: lightgray;
}

.sudokuBoard .square:nth-child(3n) {
    border-right: solid 2px black;
}

.inputPanel .input-outer {
    padding: 2px;
}

.inputPanel .input {
    border: solid 1px black;
    border-radius: 25%;
    padding: 4px;
}