.table {
    display: table;
    border-collapse: collapse;
}

.cluster-outer {
    display: table-cell;
    border: solid 2px black;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.square-outer {
    margin: 2px;
    padding: 8px;
}