/** TODO use LESS for CSS variables */

#sudokuBoard,
#inputPanel {
    width: 60vmin;
    min-width: 320px;
}

#sudokuBoard {
    height: 60vmin;
    min-height: 320px;
    margin-bottom: 12px;
}

.sudokuBoard,
.inputPanel {
    width: 100%;
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    border: solid 2px black;
}

.sudokuBoard .row {
    display: table-row;
}

.sudokuBoard .row:nth-child(3n) {
    border-bottom: solid 2px black;
}

.sudokuBoard .square,
.inputPanel .input {
    display: table-cell;
    margin: 2px;
    padding: 8px;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
}

.sudokuBoard .square:nth-child(3n) {
    border-right: solid 2px black;
}