doctype html
html(lang="en-US")
    head
        title Sudoku - Kapil Easwar

        //- libraries
        script(src="/public/jquery-2.1.3.js")

        //- sudoku JS
    body
        h1 Hello, world!